{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "extensions": [
        ".ts",
        ".tsx",
        ".js",
        ".jsx",
        ".json"
      ]
    }]
  ],
  "comments": false
}
